@media (min-width: 650px){
    
    body[data-theme="dark"] .ce-toolbar__plus path,
    body[data-theme="dark"] .ce-toolbar__settings-btn path{
        color: #F3F3F3;
    }


    body[data-theme="dark"] .ce-toolbar__settings-btn:hover path,
    body[data-theme="dark"] .ce-toolbar__plus:hover path{
        color: #382933;
    }

}

body[data-theme="dark"] .ce-popover-item{
    color: #F3F3F3;
}

body[data-theme="dark"] .cdx-block span{
    background-color: #382933 !important;
}

body[data-theme="dark"] .ce-block.ce-block--selected .cdx-block,
body[data-theme="dark"] .ce-block.ce-block--selected .ce-block__content,
body[data-theme="dark"] .ce-block.ce-block--focused .cdx-block{
    background: #382933;
    color: #e0e0e0
}

body[data-theme="dark"] .ce-inline-toolbar{
    background: #382933;
    border: 2px solid #382933;
}

body[data-theme="dark"] .cdx-marker{
    color: #382933;
    background: #fff;
}

body[data-theme="dark"] .ce-inline-tool-input,
body[data-theme="dark"] .ce-conversion-tool__icon,
body[data-theme="dark"] .ce-popover-item__icon,
body[data-theme="dark"] .ce-popover,
body[data-theme="dark"] .cdx-search-field,
body[data-theme="dark"] .cdx-button,
body[data-theme="dark"] .image-tool__image,
body[data-theme="dark"] .ce-conversion-toolbar{
    /* color: #fff; */
    background: #382933;
    border-color: #382933;
}

body[data-theme="dark"] .cdx-input{
    border-color: #382933;
}

body[data-theme="dark"] .ce-inline-tool:hover,
body[data-theme="dark"] .ce-inline-toolbar__dropdown:hover,
body[data-theme="dark"] .ce-popover-item:hover,
body[data-theme="dark"] .ce-conversion-tool:hover{
    background: #382933;
}

.bg-blur {
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.bg-mobile-blur {
    background: #382933;
    backdrop-filter: blur(50px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

